// Apply opacity to background:
@mixin background-opacity($color, $opacity) {
	background-color: rgba($color, $opacity);
}

@mixin ball-after() {
	&::after {
		content: '';
		position: absolute;
		top: -110%;
		right: -15%;
		border-radius: $border-radius-round;
		width: 65%;
		aspect-ratio: 1;
		z-index: -1;
		@include background-opacity($background-tertiary, $background-opacity);
	}
}