html,
* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: 400;
	background-color: inherit;
	word-break: break-word;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
